<!DOCTYPE html>
<html ng-app lang="en">
<head>
	<meta charset="UTF-8">
	<title>Open Api Test System</title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/fuck.js"></script>
    <style type="text/css">
    ul{
        list-style-type: none;
        -webkit-padding-start:0;
    }
    </style>
</head>
<body>
    <h2>Openapi test system</h2>
    <div ng-controller="apiController">
    <ul ng-repeat="args in params">
         <li><label for="{{args.text}}">{{args.text}}:</label><input name="{{args.text}}"  size="40" placeholder="{{args.placeholder}}" value="{{args.val}}"/></li>
    </ul>
    <strong>Choose API:</strong>
    <select ng-model="api" ng-change="getApi(api)">
        <option ng-repeat="api in apis" value="{{api.name}}">{{api.name}}</option>
    </select>
    <input type="button" id="send" name="{{url}}" value="Send">
    <input type="hidden" id="parameter" value="{{parameterList}}">
    <ul ng-repeat="item in postdata">
        <li><label for="{{item.value}}">{{item.value}}:</label><input name="{{item.value}}" size="40" placeholder="Sample: {{item.example}}"/></li>
    </ul>
    <div id ="result"></div>
    </div>
</body>
</html>